
<div class="jumbotron">
    
    
    <%=link_to 'Home', root_path, class: 'btn btn-primary' %>
    <%=link_to 'About Me', home_about_path, class: 'btn btn-info'%>
    <%=link_to 'FAQs', home_faq_path, class: 'btn btn-info'%>
    <%=link_to 'Contact Me', home_contact_path, class: 'btn btn-info'%>
    <%=link_to 'Nebula', home_orion_nebula_path, class: 'btn btn-info'%>
    <%=link_to 'Galaxies', home_andromeda_path, class: 'btn btn-info'%>
    
  
<h1 align="center">Welcome to Sirius Dreamer!</h1>
<hr>
<p></p>
<h2 align="center">Purpose of this Project</h2>
<p></p>
I have always been interested in web design, but never took the time to learn web development or server side code development.  Later I tried to learn PHP, but I struggled with the whole LAMP and WAMP application stack.  
I did finally master the art of WAMP and Lamp (Ubuntu) system administration on the job, but I never learned to write the PHP code.

Finally I heard about Ruby on Rails, and when I decided to learn more about it I was hooked!  At first it seemed amazingly easy to deploy, but the more I dig deeper into learning it, the harder it gets.
  I certainly enjoying the challenge, however!  My goal is to master the skills of Ruby web development.  This web site is my first endeaver to apply some of the skills I have just learned.
  
<p></p>  
<img style="margin:0px auto;display:block" src="/animated-moon.gif"/>

</div>

<p>
    
</p>