
<div class="jumbotron">
    
    
    <%=link_to 'Home', root_path, class: 'btn btn-primary' %>
    <%=link_to 'About Me', home_about_path, class: 'btn btn-info'%>
    <%=link_to 'FAQs', home_faq_path, class: 'btn btn-info'%>
    <%=link_to 'Contact Me', home_contact_path, class: 'btn btn-info'%>
    <%=link_to 'Nebulae', home_nebulae_path, class: 'btn btn-info'%>
    <%=link_to 'Galaxies', home_galaxies_path, class: 'btn btn-info'%>
    <%=link_to 'Auroras', home_auroras_path, class: 'btn btn-info'%>
    <%=link_to 'Comets', home_comets_path, class: 'btn btn-info'%>
  
<h1 align="center">Welcome to Sirius Dreamer!</h1>
<hr>
<p></p>
<h2 align="center"><%= get_random_welcome() %> </h2>

<p></p>
<p></p>
I have always been interested in web design, and I learned basic HTML, but I never learned web app development or server side code development.  
I took courses in UNIX administration, and learned Linux, and also was a SysAdmin for LAMP servers running web applications, but I did not learn to write code.

Finally I heard about Ruby on Rails, and when I decided to learn more about it I was hooked!  This web site is my first endeaver to apply some of the skills I have just learned.


  
<p></p>  
<img style="margin:0px auto;display:block" src="/animated-moon.gif"/>

</div>

<p>
    
</p>